*.keras
glyph_preview.png
__pycache__/
kor_plate/
chaindump/
v2_preview.png
glyph_cnn_slotcrop.tflite
glyph_cnn_snapcrop.tflite
snap_preview.png
cnn_otsu.tflite
cnn_adaptmean.tflite
cnn_flatotsu.tflite
cnn_mix.tflite
